
<hr />
<label for="">Server Name</label>
<!-- <input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"
/> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<!-- <p>{{ serverName }}</p> -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<p *ngIf="serverCreated">Server was created, sever name is {{ serverName }}</p>
<!-- ; else noServer -->
<!-- <ng-template #noServer>
  <p>No server was created</p>
</ng-template> -->
<app-server *ngFor="let serverxd of servers"></app-server>
<hr />

<label for="">User Name</label>
<input type="text" class="form-control" [(ngModel)]="userName" />
<p>{{ userName }}</p>

<button
  class="btn btn-primary"
  [disabled]="userName.length === 0"
  (click)="onClickName()"
>
  New person
</button>
<hr />
